html {
  background-color: #212529;
}
th {
  text-transform:uppercase;
  text-align: center !important;
  background-color: rgba(255, 255, 55, 100) !important;
  color: black;
 
}

table {
  text-align: center !important;
  margin: auto i !important;
}

th:nth-child(1), td:nth-child(1) {
  display: none;
}