html {
  background-color: #212529 !important;
}

body {
  background-color: #212529 !important;
}
th {
  text-transform:uppercase;
  text-align: center !important;
  background-color: #ffc107 !important;
  color: black;
  font-size: larger;
 
}


h1 {
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

a{
  color: white !important;
  text-decoration: none !important;
}

table {
  text-align: center !important;
  margin: auto !important;
  margin-top: auto;
}

td:nth-child(2) {
  font-weight: bolder;
  text-align: left;

}

th:nth-child(2) {
  text-align: left !important;
}

td:last-child {
  font-weight: bolder;
}

table.dataframe th:first-child, .dataframe td:first-child {
  display: none !important;
}

.col {
  color: white;
  text-align: center;
}

#benk {
  opacity: 0.3;
  max-width: 30px;
}

#picks {
  max-width: 63px;
}

p.navn{
  font-size: smaller;
  margin-bottom: auto;
  font-weight: bolder;
}

p.navn_bytte {
  font-size: xx-small;
  margin-bottom: auto;
}

hr.spillerrad {
  margin-top: 8px;
  margin-bottom: 8px;
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

div.col.header_navn {
  max-width: 33%;
  margin: auto;
}

div.col.header_navn {
  margin: auto;
}

div.col.header_points {
  margin: auto;
}

div.header_navn{

}

h3.h_navn {
  background-color: #ffc107;
  border-radius: 10px;
  color: #212529;
  font-weight: bolder;
  margin: -5px;
  padding: auto;
}



