html {
  background-color: #212529 !important;
}

body {
  background-color: #212529 !important;
}
th {
  text-transform:uppercase;
  text-align: center !important;
  background-color: rgba(255, 255, 55, 100) !important;
  color: black;
  font-size: larger;
 
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  color:  white;
  text-align: center;
  font-size: small;
}

a{
  color: white !important;
  text-decoration: none !important;
}

table {
  text-align: center !important;
  margin: auto !important;
  margin-top: auto;
}

td:nth-child(2) {
  font-weight: bolder;

}

td:last-child {
  font-weight: bolder;
}

table.dataframe th:first-child, .dataframe td:first-child {
  display: none !important;
}
