{% extends "base.html" %}

{% block title %} 
    Furuligaen 
{% endblock %}

{% block route%}
    "/"
{% endblock %}

{% block content %}
<table class="sortable table table-dark table-borderless table-striped">
    <thead>
      <th>#</span></th>
        <th>Navn</th>
        <th>Tot</th>
        <th>GW{{thisGw}}</th>
        <th>{{gwHead}}</th>
        
    </thead>
        {%for obj in data%}
        <tr>
            <td>{{obj.Rank}}</td>
            {% if getChip(obj['Entry']) == 'Bench Boost' %}
                <td><a href="/{{obj.Entry}}">{{obj.Navn}}&nbsp;&nbsp;<span class="badge bg-danger">BB</span></a></td>
            {% elif getChip(obj['Entry']) == 'Triple Cap' %}
                <td><a href="/{{obj.Entry}}">{{obj.Navn}}&nbsp;&nbsp;<span class="badge bg-danger">TC</span></a></td>
            {% elif getChip(obj['Entry']) == 'Free Hit' %}
                <td><a href="/{{obj.Entry}}">{{obj.Navn}}&nbsp;&nbsp;<span class="badge bg-danger">FH</span></a></td>
            {% elif getChip(obj['Entry']) == 'Wildcard' %}
                <td><a href="/{{obj.Entry}}">{{obj.Navn}}&nbsp;&nbsp;<span class="badge bg-danger">WC</span></a></td>
            {% else %}
                <td><a href="/{{obj.Entry}}">{{obj.Navn}}&nbsp;&nbsp;</a></td>
            {% endif %}
            <td>{{obj.Tot}}</td>
            <td>{{obj.GW}}</td>
            <td>{{obj.GWround}}</td>
        </tr>
        {% endfor %}
</table>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock %}