{% extends "base.html" %}

{% block title %} 
   Lag
{% endblock %}

{% block css %} 

{%endblock%}

{% block route%}
    "/"
{% endblock %}

{% block content %}
    <h1><span class="badge rounded-pill bg-warning text-dark">{{manager}}</span> <span class="badge rounded-pill bg-danger">{{poeng}} pts</span></h1>
    <div class="container"> 
    
    <div class="row justify-content-evenly">
    {%for player in data[0:11]%}
    {% if player['pos'] == 1 %}
    
        <div class="col">
       <p> 
         <img src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{player["photo"]}}.png" width="60">
         <br/>
         {{player['navn']}}
         <br/>
         <span class="badge rounded-pill bg-warning text-dark">{{player['points']}}</span> 
         </p>
        </div>
    
    {% endif %}
    {%endfor%}
    </div>
    
    <hr style="color:white;width:100%;text-align:left;margin-left:0">

    <div class="row justify-content-evenly">
    {%for player in data[0:11]%}
    {% if player['pos'] == 2 %}
    
        <div class="col">
         <p> 
         <img src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{player["photo"]}}.png" width="60">
         <br/>
         {{player['navn']}}
         <br/>
         <span class="badge rounded-pill bg-warning text-dark">{{player['points']}}</span> 
         </p>
        </div>
    
    {% endif %}
    {%endfor%}
    </div>

    <hr style="color:white;width:100%;text-align:left;margin-left:0">
    
  <div class="row justify-content-evenly">
    {%for player in data[0:11]%}
    {% if player['pos'] == 3 %}
    
       <div class="col">
         <p> 
         <img src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{player["photo"]}}.png" width="60">
         <br/>
         {{player['navn']}}
         <br/>
         <span class="badge rounded-pill bg-warning text-dark">{{player['points']}}</span> 
         </p>
        </div>
    
    {% endif %}
    {%endfor%}
    </div>

    <hr style="color:white;width:100%;text-align:left;margin-left:0">

    <div class="row justify-content-evenly">
    {%for player in data[0:11]%}
    {% if player['pos'] == 4 %}
    
       <div class="col">
       <p> 
         <img src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{player["photo"]}}.png" width="60">
         <br/>
         {{player['navn']}}
         <br/>
         <span class="badge rounded-pill bg-warning text-dark">{{player['points']}}</span> 
         </p>
        </div>
        
    
    {% endif %}
    {%endfor%}

   

    </div>
    <hr style="color:white;width:100%;text-align:left;margin:5px">
{% endblock %}

