{% extends "base.html" %} {% block title %} Transfers {% endblock %} {% block
content %}

<table class="transfers table table-dark table-borderless table-striped">
  <thead>
    <th>Manager</th>
    <th>In</th>
    <th>Out</th>
  </thead>
  {% for obj in data %}
  <tr>
    <td><a href="/{{obj['entry']}}"><b>{{getManagerName(obj['entry'])}}</b></a></td>
    <td>
        {% for trans in obj['transfers'] %} 
            <img class = "trans_in" src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{trans["photo_in"]}}.png"> 
            <br/> 
            <b>{{trans['element_in']}}</b>
            <br/> 
        {% endfor %}
    </td>
    <td>
        {% for trans in obj['transfers'] %}
            <img class = "trans_out" src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{trans["photo_out"]}}.png"> 
            <br/> 
            {{trans['element_out']}}
            <br/> 
        {% endfor %}
    </td>

  </tr>
  {% endfor %}
</table>

{% endblock %}
