{% extends "base.html" %}

{% block title %} 
    Vinnere 
{% endblock %}

{% block route%}
    "vinnere"
{% endblock %}

{% block content %}
    <table class="sortable table table-dark table-borderless table-striped">
    <thead>
        <th>GW</th>
        <th>Manager</th>
        <th>Points</th>
    </thead>
        {% for obj in data %}
            <tr>
                <td>{{obj['GW']}}</td>
                <td><b>{{obj['Vinner']}}</b></td>
                <td>{{obj['Poeng']}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}